<!-- <footer class="page-footer black darken-1 red-text">
    <div class="container center">
      <div class="row">
        <div class="col  s12">
          <h5 class="red-text">Red Square</h5>
          <p class=" red-text">Red Square is a group messaging app! Message @bot to message the integrated chat bot</p>
          <ul>
            <li><a class="navbar-brand" routerLink="/sign-up">Sign Up</a></li>
            <li><a class="navbar-brand" routerLink="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright red-text">
      <div class="container center">
       Created by Andy, Brandon, Ismael, Will 2017
      </div>
    </div>
  </footer> -->
