<app-home-nav></app-home-nav>
<div class="identifier center-align" id="slide">
	<h2><i class="material-icons md-36 green-text text-darken-1" id="secret">lock</i>Login</h2>
</div>

<div class="signin-container">
	<div *ngIf='passwordIncorrect' id='notification' class=''>Sign in unsuccessful</div>
	<div class="row info-box">
		<form class="col s12" #signUpForm="ngForm" (ngSubmit)="handleSubmit(signUpForm)">
			<fieldset ngModelGroup="user">
				<div class="row">
					<div class="input-field col s12">
						<input id="username" type="text" placeholder="username" class="validate" [(ngModel)]="username" name="username">
						<label for="username"></label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" placeholder="password" type="password" class="validate" [(ngModel)]="password" name="password">
						<label for="password"></label>
					</div>
				</div>

				<div class="row">
					<button type="submit" name="button" class="btn">Login</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="back">
	<a class="signin-nav-btn main-btn btn-flat waves-effect" routerLink="/home">Back</a>
	<a class="signin-nav-btn back-btn btn-flat waves-effect" routerLink="/sign-up">Sign Up</a>
</div>
