.all {
	height: 90vh;
	width: 100vw;
}
#header {
	font-family: 'Lobster', cursive;
	font-size: 70px !important;
	color: #f44336 !important;
}
.contain {
	width: 100%;
	height: 94vh;
}
.column {
	height: 100%;
}


input:focus {
  border-bottom: 1px solid #f44336 !important;
  box-shadow: 0 1px 0 0 #f44336 !important;
}
