.home {
	height: 100%;
	width: 100%;
	background: #200122;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #f44336, #200122);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #f44336, #000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #f44336;
}
.mobile {
	display: none;
}

.home h1 {
	font-family: 'Lobster', cursive;
	font-size: 20em !important;
	border: solid 5px #f44336;
	padding: .2em;
}
@media only screen
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
		.home h1 {
			display: none;
		}
}
